@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  div {
    @apply m-2;
  }

  label {
    @apply block text-gray-700 font-bold mb-2;
  }
}

@tailwind components;

@tailwind utilities;